 <div class="fixed-header" style="background-color: #0062cc;
    border-color: #007bff;">
        <div class="container">
            <nav>
                <a href="#">SWM</a>
                <a [routerLink]="['/login']" style="float:right;">Logout</a>
            </nav>
        </div>
    </div>
    
<div class="container" style="padding-top:70px;">
    
    <div class="form-group col-md-5">
        <label for="id">Item Id</label>
        <input type="text"  class="form-control"  />
    </div>
    <div class="form-group col-md-5">
        <label for="Number">Item Number</label>
        <input type="text"  class="form-control"  />
    </div>
     <div class="form-group col-md-5">
        <label for="Name">Item Name</label>
        <input type="text"  class="form-control"  />
    </div>
     <div class="form-group col-md-5">
        <label for="Description">Item Description</label>
        <input type="text"  class="form-control"  />
    </div>
     <div class="form-group col-md-5">
        <label for="Attachement">Attachement</label>
        <input type="file" class="form-control"  />
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" style="margin-right:20px;"> Priv</button>
          <button [disabled]="loading" class="btn btn-primary" style="margin-right:20px;"> Submit</button>
            <button [disabled]="loading" class="btn btn-primary" style="margin-right:20px;"> Next</button>
            
         <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a>  -->
    </div>
</div>

<style>
    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
</style>